.screen-frame {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;

  border: 2px solid currentColor;
  border-width: 2px 0;

  display: flex;
  flex-direction: column;

  padding: 16px;
  box-sizing: border-box;
}

.screen-frame::before,
.screen-frame::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    currentColor 0%,
    transparent 35%,
    transparent 65%,
    currentColor 100%
  );
}

.screen-frame::before {
  left: 0;
}

.screen-frame::after {
  right: 0;
}

.frame-bottom {
  position: absolute;
  bottom: -20px; /* pulls the nav bar down onto the bottom border */
  width: calc(100% - 60px);
  height: auto;
  /* left: 30px;  waarom is dit nodig? */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  left: 30px;

  padding-bottom: env(safe-area-inset-bottom);
}

.frame-top {
  position: absolute;
  top: -20px;        /* pulls the title up onto the top border */
  left: 36px;      
  z-index: 1;
}

.title {
  display: block;
  padding: 8px 16px;

  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 24px;
  background: transparent;
  z-index: 1;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,1);
  filter: blur(10px);
  z-index: -1;
  transition: filter 0.2s, background 0.2s;
}


.frame-content {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 0;
  padding: 16px 0;
}


